.card {
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.light {
  background-color: #fbffbd;
  color: #222;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dark {
  background-color: #1e293b;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.button {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #2563eb;
  color: white;
}
